Repository Lykos153/nixos: changes, and which pre-commit hooks are due for each by the changed paths.
All: stylish-haskell, sops-updatekeys, nix-fmt

.pre-commit-config.yaml:

# from https://github.com/anthr76/infra
---
fail_fast: false
repos:
  # - repo: https://github.com/adrienverge/yamllint
  #   rev: v1.26.3
  #   hooks:
  #     - args:
  #         - --config-file
  #         - .yamllint.yaml
  #       id: yamllint
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
  - repo: local
    hooks:
      - id: stylish-haskell
        name: stylish-haskell
        entry: stylish-haskell -i
        language: system
        files: \.l?hs$
  - repo: https://github.com/yuvipanda/pre-commit-hook-ensure-sops
    rev: v1.1
    hooks:
      - id: sops-encryption
        # Uncomment to exclude all markdown files from encryption
        # exclude: *.\.md
  - repo: local
    hooks:
      - id: sops-updatekeys
        name: sops-updatekeys
        language: system
        entry: pre-commit-sops-updatekeys
        files: '^.*(secrets|\.sops)\.ya?ml$'
  - repo: local
    hooks:
      - id: nix-fmt
        name: nix-fmt
        language: system
        entry: nix fmt
        files: '\.nix$'

users sa atl: update get_project
  users/sa/annextimelog/annextimelog.nu
Due: none

hm shell: set atuin sync address
  modules/homeManager/shell.nix
Due: nix-fmt

hm nu: fix function rsd
  modules/homeManager/nushell/functions.nu
Due: none

user sa: update ssh secrets
  users/sa/ssh/secrets.yaml
Due: sops-updatekeys

machine silvio-ch: disable earlyoom
  machines/silvio-ch/default.nix
Due: nix-fmt

users common: add gimp, tectonic and nixfmt-rfc-style
  users/_common/default.nix
Due: nix-fmt

flake.lock: Update
  flake.lock
  modules/homeManager/gui/sway/config.nix
Due: nix-fmt

flake: pin lix v2.93.0
  flake.lock
  flake.nix
Due: nix-fmt

machines silvio-pc: use linux_latest
  machines/silvio-pc/bcachefs.nix
Due: nix-fmt

disable lix
  flake.nix
Due: nix-fmt

flake.lock: Update
  flake.lock
  flake.nix
  lib/homeManager.nix
  modules/homeManager/gpg.nix
  modules/homeManager/gui/sway/config.nix
  modules/homeManager/gui/xorg/default.nix
  modules/homeManager/helix.nix
  modules/homeManager/mynix/default.nix
  modules/homeManager/pass.nix
  modules/homeManager/zsh/default.nix
  modules/homeManager/zsh/functions/annex.nix
  modules/homeManager/zsh/functions/default.nix
Due: nix-fmt

hm taskwarrior: upgrade to taskwarrior3
  modules/homeManager/taskwarrior.nix
Due: nix-fmt

users gamer: add elite helpers
  users/gamer/default.nix
Due: nix-fmt

nixos gui: fix unlocking i3lock
  modules/nixos/gui.nix
Due: nix-fmt

users sa bugwarrior: use taskwarrior3
  users/sa/bugwarrior.nix
Due: nix-fmt

hm nu: fix editify
  modules/homeManager/nushell/functions.nu
Due: none

hm nu: add wpa_add
  modules/homeManager/nushell/functions.nu
Due: none

flake.lock: Update
  flake.lock
Due: none

machines common: update wpa secrets
  machines/_common/secrets.yaml
Due: sops-updatekeys

hm nu: improve wpa_add
  modules/homeManager/nushell/functions.nu
Due: none

nixos tools: add wireguard-tools
  modules/nixos/tools.nix
Due: nix-fmt

flake.lock: Update
  flake.lock
  modules/homeManager/mynix/mynix-mod.nu
  modules/homeManager/nushell/functions.nu
  users/sa/annextimelog/annextimelog.nu
Due: none

flake.lock: Update
  flake.lock
  flake.nix
Due: nix-fmt

thunar: use nixos module
  modules/homeManager/guiApps/default.nix
  modules/nixos/gui.nix
Due: nix-fmt

users common: add magic-wormhole
  users/_common/default.nix
Due: nix-fmt

hm nu wpa_add: allow empty passwords
  modules/homeManager/nushell/functions.nu
Due: none

hm: remove timewarrior
  flake.lock
  flake.nix
  modules/homeManager/_meta/workstation.nix
  modules/homeManager/timewarrior/default.nix
  modules/homeManager/timewarrior/extensions/done
  modules/homeManager/timewarrior/extensions/hours
  modules/homeManager/timewarrior/extensions/now
Due: nix-fmt

users sa: remove bugwarrior
  users/sa/bugwarrior.nix
  users/sa/default.nix
Due: nix-fmt

nixos: add gnome and plasma modules
  machines/silvio-pc/default.nix
  machines/silvio-pc/gnome.nix
  machines/silvio-pc/plasma.nix
  modules/nixos/gnome.nix
  modules/nixos/plasma.nix
Due: nix-fmt

nixos security: use sudo-rs
  modules/nixos/security/default.nix
  modules/nixos/security/securityKeys.nix
Due: nix-fmt

hm gui autorandr: update screen position
  modules/homeManager/gui/autorandr.nix
Due: nix-fmt

machine silvio-pc: fix gnome and plasma modules
  machines/silvio-pc/default.nix
Due: nix-fmt

river: config wide
  modules/homeManager/gui/river/default.nix
Due: nix-fmt
