Repository Lykos153/nixos: changes, and which pre-commit hooks are due for each by the changed paths.
All: stylish-haskell, sops-updatekeys, nix-fmt

stylish-haskell:
  name: stylish-haskell
  entry: stylish-haskell -i
  language: system

sops-updatekeys:
  name: sops-updatekeys
  language: system
  entry: pre-commit-sops-updatekeys

nix-fmt:
  name: nix-fmt
  language: system
  entry: nix fmt

wip: add river
  modules/homeManager/gui/river/default.nix
  modules/nixos/gui.nix
Due: nix-fmt

WIP: dedicated waybar module
  modules/homeManager/gui/waybar/default.nix
  modules/homeManager/gui/waybar/waybar.css
  users/silvio/sway/default.nix
  users/silvio/sway/waybar.nix
Due: nix-fmt

river: config wide
  modules/homeManager/gui/river/default.nix
Due: nix-fmt

river: keyboard layout
  modules/homeManager/gui/river/default.nix
Due: nix-fmt

Revert "river: config wide"
  modules/homeManager/gui/river/default.nix
Due: nix-fmt

river-classic
  modules/nixos/gui.nix
Due: nix-fmt

WIP: combined kanshi/autorandr module
  modules/homeManager/gui/autorandr.nix
  modules/homeManager/gui/kanshi.nix
  modules/homeManager/gui/sway/default.nix
  modules/homeManager/gui/sway/kanshi.nix
  modules/homeManager/gui/xorg/default.nix
Due: nix-fmt

machines pc/ch: use podman instead of docker
  machines/silvio-ch/default.nix
  machines/silvio-ch/docker.nix
  machines/silvio-pc/default.nix
  machines/silvio-pc/docker.nix
Due: nix-fmt

flake.lock: Update
  flake.lock
  modules/homeManager/gui/xorg/default.nix
  users/leila/autostart.nix
  users/leila/default.nix
Due: nix-fmt

flake: add some follows
  flake.lock
  flake.nix
Due: nix-fmt

river: focus follow cursor
  modules/homeManager/gui/river/default.nix
Due: nix-fmt

river wip
  modules/homeManager/gui/river/default.nix
Due: nix-fmt

river: mouse
  modules/homeManager/gui/river/default.nix
Due: nix-fmt

river: launcher
  modules/homeManager/gui/river/default.nix
Due: nix-fmt

enable river for silvio everywhere
  users/silvio/default.nix
  users/silvio/silvio-pc/default.nix
Due: nix-fmt

enable river for silvio on silvio-pc
  users/silvio/silvio-pc/default.nix
Due: nix-fmt

machines bcachefs: remove compression mount option
  machines/silvio-ch/bcachefs.nix
  machines/silvio-pc/bcachefs.nix
Due: nix-fmt

flake.lock: Update
  flake.lock
Due: none

machine stick: deploy
  flake.lock
  flake.nix
  machines/stick/bootloader.nix
  machines/stick/configuration.nix
  machines/stick/default.nix
  machines/stick/disks.nix
  machines/stick/hardware-configuration.nix
  machines/stick/sops.nix
Due: nix-fmt

machine stick2: remove
  .sops.yaml
  machines/_common/secrets.yaml
  machines/_common/users/secrets.yaml
  machines/_common/vpn/secrets.yaml
  machines/silvio-ch/ddns/secrets.yaml
  machines/silvio-pc/ddns/secrets.yaml
  machines/stick2/bootloader.nix
  machines/stick2/configuration.nix
  machines/stick2/default.nix
  machines/stick2/disks.nix
  machines/stick2/hardware-configuration.nix
  machines/stick2/sops.nix
Due: sops-updatekeys, nix-fmt

machine stick: redeploy with encrypted bcachefs
  .sops.yaml
  machines/_common/secrets.yaml
  machines/_common/users/secrets.yaml
  machines/_common/vpn/secrets.yaml
  machines/silvio-ch/ddns/secrets.yaml
  machines/silvio-pc/ddns/secrets.yaml
  machines/stick/disks.nix
Due: sops-updatekeys, nix-fmt

machine stick: disable initrd.systemd
  machines/stick/disks.nix
Due: nix-fmt

hm: combined kanshi/autorandr module
  modules/homeManager/gui/autorandr.nix
  modules/homeManager/gui/sway/default.nix
  modules/homeManager/gui/sway/kanshi.nix
  modules/homeManager/gui/wayland.nix
  modules/homeManager/gui/xorg/default.nix
Due: nix-fmt

nixos/hm: add riverwm
  modules/homeManager/gui/river/default.nix
  modules/nixos/gui.nix
Due: nix-fmt

users silvio: use river
  users/silvio/default.nix
Due: nix-fmt

hm: add waybar module
  modules/homeManager/gui/river/default.nix
  modules/homeManager/gui/waybar/default.nix
  modules/homeManager/gui/waybar/waybar.css
  users/silvio/sway/default.nix
  users/silvio/sway/waybar.nix
Due: nix-fmt

pkgs pre-commit-sops-updatekeys: fix for new nushell version
  pkgs/pre-commit-sops-updatekeys/pre-commit-sops-updatekeys.nu
Due: none

sops: remove key device_kalata
  .sops.yaml
  machines/_common/secrets.yaml
  machines/_common/users/secrets.yaml
  machines/_common/vpn/secrets.yaml
  machines/silvio-ch/ddns/secrets.yaml
  machines/silvio-pc/ddns/secrets.yaml
Due: sops-updatekeys

users sa: update atl
  users/sa/annextimelog/annextimelog.nu
Due: none

ci: remove workflows
  .github/workflows/checks.yaml
Due: none

hm nushell: add psub
  modules/homeManager/nushell/default.nix
  modules/homeManager/nushell/psub.nu
Due: nix-fmt

users common: add calibre
  users/_common/default.nix
Due: nix-fmt

pre-commit: call alejandra directly
  .pre-commit-config.yaml
  flake.nix
Due: nix-fmt

Path conditions:
  stylish-haskell: any of: \.l?hs$
  sops-updatekeys: any of: ^.*(secrets|\.sops)\.ya?ml$
  nix-fmt: any of: \.nix$
